/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gill Sans", sans-serif;
}

/* CSS Variables */
:root {
    --bg-color: #fff;
}

/* Utility Classes */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h-fourth {
    font-size: 1.2rem;
    padding: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    padding: 6px 26px;
    border: 2px solid #fff;
    background-color: brown;
    color: #fff;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 30px;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    /* position: relative; */
    position: sticky;
    top: 0;
}

#navbar::before {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

/* Navigation Bar Logo & Image */
#logo {
    margin: 0px 25px;
}

#logo img {
    margin: 5px 20px;
    transition: all 1s ease-in-out;
}

#logo img:hover {
    transform: rotate(360deg);
}

/* Navigation Bar List Items Styling */
#navbar ul {
    display: flex;
    justify-content: flex-end;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a {
    color: #fff;
    display: block;
    padding: 2px 25px;
    border-radius: 30px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    justify-content: center;
    align-items: center;
    height: 360px;
}

#home::before {
    content: "";
    background: url('../img/bg/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    /* height: 590px; */
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: #ffffff;
    text-align: center;
}

#home p {
    color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
    font-family: cursive;
}

.btn.order-now {
    transition: all 0.5s ease-in-out;
}

.btn.order-now:hover {
    transform: translate(1px, 2px);
}

/* Services Section */
#services-container {
    margin: 105px 34px;
}

#services {
    /* margin: 105px 34px; */
    display: flex;
}

#services .box {
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 10px 34px;
    border-radius: 23px;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in-out;
}

#services .box:hover {
    background-color: #e7efec;
    box-shadow: 4px 4px 5px #e3aeaefa;
    transform: translate(3px, 3px);
}

#services .box img {
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
}

#services .box p {
    font-size: 1.1rem;
    font-family: serif, sans-serif;
}

/* Client Section */
#client-section {
    /* height: 230px; */
    margin-top: -65px;
    /* position: relative; */
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../img/bg/clients-bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 10px 28px;
}

.clients img {
    height: 124px;
    transition: all 0.1s ease-in-out;
}

.clients img:hover {
    transform: translateX(3px);
}

/* Contact Section */
/* #contact {
    position: relative;
} */

#contact::before {
    content: "";
    position: absolute;
    background: url('../img/bg/contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box .form-group {
    padding: 4px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

#contact-box label sup {
    color: red;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1.1rem;
    border: 2px solid #f66cd3;
}

#contact-box form button {
    display: block;
    margin: 7px auto;
}

/* Footer Section */
#footer {
    color: #fff;
}

#footer::before {
    content: "";
    background: url('../img/bg/footer-bg.jpg') no-repeat center center/cover;
    width: 100%;
    /* height: 100%; */
    height: 222px;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-section .footer-links {
    padding: 20px 80px;
}

.footer-section .footer-links img {
    display: block;
    margin: 4px auto;
    transition: all 1s ease-in-out;
}

.footer-section .footer-links img:hover {
    transform: rotate(360deg);
}

.footer-section .footer-links ul {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.footer-section .footer-links ul a {
    text-decoration: none;
    color: #fff;
    line-height: 1.2rem;
}

#footer p a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}